html, body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Helvetica, Tahoma, "Trebuchet MS", Arial, sans-serif;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #005443;
}

#htcontainer {
    width: 90%;
    position: relative;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

#htnewuser {
    float: left;
    width: 48%;
    border-right: 1px solid #AAAAAA;
    text-align: left;
}

#htexistingusers {
    float: right;
    width: 48%;
    padding-left: 10px;
    text-align: left;
}

.user_table {
    width: 90%;
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 13px;
}

.user_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.user_table th, table.user_table td {
    padding: 9px 12px;
}

.user_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.user_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.user_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.user_table tbody tr:hover, .user_table tbody tr:nth-of-type(even):hover {
    background-color: #c0fff2;
}

table.user_table td.actions_column {
    width: 134px;
}

table.user_table td.no_users_column {
    font-weight: bold;
    color: #c25700;
}

table.userform_table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

table.userform_table td {
    text-align: left;
    padding: 2px 2px 6px 2px;
}

table.userform_table td.label_column {
    width: 100px;
}

table.userform_table td input[type="text"] {
    width: 270px;
    padding: 4px 3px 4px 3px;
}

button.update_password, button.delete_user, button.create_new_user {
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
}

button.update_password {
    background-color: #008CBA;
}

button.update_password:hover {
    background-color: #006181;
}

button.delete_user {
    background-color: #f44336;
}

button.delete_user:hover {
    background-color: #a32b22;
}

button.create_new_user {
    background-color: #009879;
}

button.create_new_user:hover {
    background-color: #026853;
}

#notify {
    width: 100%;
    margin-bottom: 22px;
}

#notify div.in_notify {
    width: 370px;
    background-color: #ff9d00;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    line-height: 28px;
    border: none;
}

#notify div.in_notify span {
    display: inline-block;
    width: 32px;
    background-color: #cb7600;
    text-align: center;
    line-height: 28px;
    margin-right: 12px;
}

#hterror {
    color: #a32b22;
    font-size: 15px;
}